body {
    font-family: sans-serif;
    background-color: seashell;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 2px solid gray;
}

h1 {
    font-size: 48px;
}

main {
    text-align: left;
    margin: 0 30%;
}

h2 {
    text-align: center;
}

.quiz {
    display: none;
}

.results {
    display: none;
}